@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting the default fonts for body and headers */
@layer base {
  html {
    font-family: Source Sans Pro, system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Titillium Web, system-ui, sans-serif;
  }
}

button:focus {
  outline: none;
}

*:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px #190d44;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

/* Prose */
.prose-bvpk {
  @apply prose prose-headings:font-bold prose-a:font-bold prose-a:underline prose-a:decoration-bvpk-300
}

/* Buttons */
.button {
  @apply whitespace-nowrap inline-flex items-center justify-center px-3 py-2 border border-2 border-bvpk-600 rounded-md font-source font-bold text-white bg-bvpk-600 transition transform duration-300 hover:bg-bvpk-300 hover:border-bvpk-300 hover:shadow-lg hover:shadow-pink-400 disabled:opacity-30 disabled:ring-0 disabled:shadow-none disabled:border-bvpk-600 disabled:bg-bvpk-600;
}

.button-secondary {
  @apply whitespace-nowrap inline-flex items-center justify-center px-3 py-2 border border-2 border-bvpk-600 rounded-md font-source font-bold text-bvpk-600 bg-white transition transform duration-500 hover:bg-bvpk-300 hover:border-bvpk-300 hover:text-white hover:shadow-lg hover:shadow-pink-400;
}

.button-success {
  @apply whitespace-nowrap inline-flex items-center justify-center px-3 py-2 border border-transparent rounded-md text-lg font-source font-bold text-white bg-green-600 transition-all transform duration-500;
}

/* Formfields */
.formfield {
  @apply w-full py-2 px-3 shadow-sm font-source text-gray-700 focus:ring-bvpk-300  focus:border-bvpk-300 border-gray-100 border-2 rounded-md placeholder-gray-300;
}

.formfield-invalid {
  @apply w-full py-2 px-3 shadow-sm font-source text-gray-700 focus:ring-red-500 focus:border-red-500 border-red-500 border-2 rounded-md;
}

.formfield-valid {
  @apply w-full py-2 px-3 shadow-sm font-source text-gray-700 focus:ring-green-500 focus:border-green-500 border-green-500 border-2 rounded-md;
}

.checkbox {
  @apply focus:ring-bvpk-300 h-4 w-4 text-bvpk-300 border-gray-100 rounded-sm h-4;
}

img {
  @apply rounded-lg shadow-lg;
}

[id]::before {
  content: '';
  display: block;
  height: 110px;
  margin-top: -110px;
  visibility: hidden;
}

/* CleverReach */
.cr_form {
  font-family: 'Titillium Web' !important;
}

/* Fonts */
@layer base {
  /* titillium-web-regular - latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/fonts/titillium-web-v9-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/titillium-web-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* titillium-web-600 - latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local(''),
      url('/fonts/titillium-web-v9-latin-600.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/titillium-web-v9-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* titillium-web-700 - latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('/fonts/titillium-web-v9-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/titillium-web-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    src: local(''),
      url('/fonts/titillium-web-v9-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/titillium-web-v9-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-300 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local(''),
      url('/fonts/source-sans-pro-v14-latin-300.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/source-sans-pro-v14-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-regular - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/source-sans-pro-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''),
      url('/fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/source-sans-pro-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}
